{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мое Резюме</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href = 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href = '{% static "about/css/about.css" %}'>
</head>
<body>
    <!-- Main contaiter -->
    <div class="main-container">
        <!--Main content sections-->
        <div class="main-content-section">
            <!-- About me section -->
            <div class="about-me-section">
                <h2 class="about-me-profession">Front-End Developer</h2>
                <h1 class="about-me-name">Anna Lazareva</h1>

                <p class="about-me-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
            </div>
            <!-- My projects-->
            <div class="my-projects-section">
                <h3 class="main-content-title">Projects</h3>

                <ol class="my-projects-list">
                    <li class="my-projects-item">
                        <span class="my-projects-text">
                            <a href='https://hellenglish.goit.global/' class="my-projects-link">https://hellenglish.goit.global/</a>
                            ...............
                            <span class="my-projects-bracket">[</span> HTML5, CSS3 <span class="my-projects-bracket">]</span>
                        </span>
                    </li>
                    <li class="my-projects-item">
                        <span class="my-projects-text">
                            <a href='https://cryptohub.goit.global/' class="my-projects-link">https://cryptohub.goit.global/</a>
                            ................
                            <span class="my-projects-bracket">[</span> JavaScript <span class="my-projects-bracket">]</span>
                        </span>
                    </li>
                    <li class="my-projects-item">
                        <span class="my-projects-text">
                            <a href='https://kidslike.goit.global/' class="my-projects-link">https://kidslike.goit.global/</a>
                            .......................
                            <span class="my-projects-bracket">[</span> React.js, Node.js <span class="my-projects-bracket">]</span>
                        </span>
                    </li>
                </ol>
            </div>

            <!-- My work expierence-->
            <div class="my-work-expierence">
                <h3 class="main-content-title">Work Experience</h3>

                <!-- Company 3-->
                <div class="my-work-expierence-company-block">
                    <h4 class="my-work-expierence-position">Front-End Developer <span class="my-work-expierence-company">Freelance</span></h4>
                    <p class="my-work-expierence-period">September 2019 - up to now   <span class="my-work-expierence-devider">|</span>   Country</p>

                    <ul class="my-work-expierence-duties">
                        <li class="my-work-expierence-duty">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                        <li class="my-work-expierence-duty">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li class="my-work-expierence-duty">Risus commodo viverra maecenas. </li>
                        <li class="my-work-expierence-duty">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
                    </ul>
                </div>
                <!-- Company 2-->
                <div class="my-work-expierence-company-block">
                    <h4 class="my-work-expierence-position">Manager <span class="my-work-expierence-company">Roga & Kopyta New</span></h4>
                    <p class="my-work-expierence-period">March 2015 - October 2018   <span class="my-work-expierence-devider">|</span>    Country</p>

                    <ul class="my-work-expierence-duties">
                        <li class="my-work-expierence-duty">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua.</li>
                        <li class="my-work-expierence-duty">Quis ipsum suspendisse ultrices gravida.</li>
                        <li class="my-work-expierence-duty">Risus commodo viverra maecenas.</li>
                    </ul>
                </div>

                <!-- Company 1-->
                <div class="my-work-expierence-company-block">
                    <h4 class="my-work-expierence-position">Manager <span class="my-work-expierence-company">Roga & Kopyta LLC</span></h4>
                    <p class="my-work-expierence-period">June 2014 - February 2015   <span class="my-work-expierence-devider">|</span>    Country</p>

                    <ul class="my-work-expierence-duties">
                        <li class="my-work-expierence-duty">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                        <li class="my-work-expierence-duty">Quis ipsum suspendisse ultrices gravida.</li>
                        <li class="my-work-expierence-duty">Risus commodo viverra maecenas. </li>
                    </ul>
                </div>
            </div>

            <!-- Education-->
            <div class="education-position">
                <h3 class="main-content-title">Education</h3>
                <h4 class="university-name"><span class="university-name-colour">National University of Radioelectronics</span></h4>
                <h5 class="education-topic">Management</h5>
                <p class="education-period">September 2009 - June 2014   <span class="education-period-devider">|</span>   Country</p>
            </div>
        </div>

        <!--sidebar section-->
        <aside class="sidebar-section">
            <img src='{% static "about/img/Cofee.jpg" %}' alt="My photo">

            <!--contacts section-->
            <div class="contacts">
                <h3 class="sidebar-title">Contacts</h3>
                <div>
                    <span class="contacts-section-type">C:</span>
                    <a class="contacts-section-link" href="tel:+79154748164">+7 915 474 81 64</a>
                </div>
                <div>
                    <span class="contacts-section-type">E:</span>
                    <a class="contacts-section-link" href="mailto:al9154748164@gmail.com">al9154748164@gmail.com</a>
                </div>
            </div>
            <!--Tech Skills-->
            <div class="tech-skills">
                <h3 class="sidebar-title">Tech Skills</h3>
                <ul class="tech-skills-list">
                    <li class="tech-skills-item"><span class="tech-skills-item-text">HTML5</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">CSS3</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">GIT</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">WebPack</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">JavaScript</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">React.js</span></li>
                    <li class="tech-skills-item"><span class="tech-skills-item-text">Node.js</span></li>
                </ul>
            </div>
            <!--Soft Skills-->
            <div class="soft-skills">
                <h3 class=sidebar-title>Soft Skills</h3>
                <ul class="soft-skills-list">
                    <li class="soft-skills-item"><span class="soft-skills-item-text">Scrum</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-item-text">Agile</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-item-text">GTD</span></li>
                    <li class="soft-skills-item"><span class="soft-skills-item-text">Teamwork</span></li>
                </ul>
            </div>

        </aside>
    </div>
</body>
</html>